* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Maple Mono NF";
    font-size: 12px;
}

window#waybar {
    background-color: #282828;
    color: #A89985;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: transparent;
}

window#waybar.chromium {
    background-color: transparent;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -1px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://githbackground: #000000ub.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    border-radius: 999px;
}

#workspaces button {    
    transition: all 0.2s;
    padding: 4px 4px 4px 5px;
    margin: 3px;
    min-width: 15px;
    min-height: 15px;
    background-color: transparent;
    color: #A89984;
    border-radius: 999px;
}

#workspaces button:hover {
    background-color: #FABD2F;
    color: #282828;
}

#workspaces button.active {    
    font-weight: bold;
    background-color: #FABD2F;  
    color: #282828;
}

#workspaces button.urgent {    
    background-color: #FB4934;    
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#tray,
#custom-updates,
#custom-bluetooth,
#mpd {
    color: #A89985;
    margin: 5px 0px;
    padding: 0 8px;
    background-color: #3C3836;
}
/* Group end */
#clock {
    margin-right: 2px;
    padding-right: 12px;
    border-radius: 0 999px 999px 0;
}
/* Group start */
#custom-bluetooth {
    margin-left: 2px;
    padding-left: 12px;
    border-radius: 999px 0 0 999px;
}
/* Single item groups (buttons) */
#custom-updates, 
#tray,
#battery {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 999px;
}

.modules-right > widget:last-child > #clock,
.modules-right > widget:last-child > #battery {
    margin-right: 4px;
}

#tray {        
    padding: 4px 10px;
}

#window { 
    margin-left: 6px;
    color: #A89985;
}

#workspaces {       
    padding: 4px 4px;   
    border-radius: 999px;
}

#clock {    
    box-shadow: none;
}


#battery {    
    min-width: 40px;
    border-radius: 999px;        
    transition: all 0.3s;
}

#battery.charging, #battery.plugged, #battery.full {   
    color: #282828;
    background-color: #FABD2F;
    box-shadow: none;
}

#battery.critical:not(.charging) {    
    background-color: transparent;
    animation: batteryCritical 1.2s linear 0s infinite normal forwards;        
}

#network.disconnected,
#pulseaudio.muted {
    transition: all 0.2s;
    color: #aaaaaa;    
}

/* For the title/artist */
#custom-waymedia{}

/* For the buttons */
#custom-waymedia-buttons{}

#temperature.critical {    
    color: #FB4934;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > * {
    padding: 0 20px;
}

#tray > .needs-attention {
    background-color: #FB4934;    
    border-radius: 999px;
}

/* #idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
} */

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.05);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.1);
}
#scratchpad.empty {
	background-color: transparent;
}

#custom-updates:not(.pending) {    
    color: #A89985;
    transition: all 0.5s;
    padding: 0 10px;
}

#custom-updates.pending {
    box-shadow: inset 0 0 0 2px #FABD2F;
    color: #FABD2F;
    font-weight: 900;
    transition: all 0.5s;
}

tooltip {
    background-color: #282828;
    border: 2px solid;
    border-color: #928374;    
    color: #A89984;
}
tooltip label {
    padding: 5px;
}

/* Keyframes ---------------------------------------------------------------- */

@keyframes batteryCritical {
    0% {
        background-color: #FB4934;
        color: #fcfcfc;
    }
    50% {
        background-color: #282828;
        color: #FB4934;
    } 
    100% {
        background-color: #FB4934;
        color: #fcfcfc;     
    }
}