// Default Theme Color Palette

// Red
$red-light: #ee6183;
$red-dark: #d33678;

// Pink
$pink-light: #f877dc;
$pink-dark: #b077c5;

// Purple
$purple-light: #f877dc;
$purple-dark: #b077c5;

// Teal
$teal-light: #7fe2e9;
$teal-dark: #53d1e7;

// Blue
$blue-light: #4faccd;
$blue-dark: #348ab4;

// Green
$green-light: #72ff78;
$green-dark: #1bd07d;

// Yellow
$yellow-light: #f9ef50;
$yellow-dark: #eab539;

// Orange
$orange-light: #f08f4f;
$orange-dark: #df6c43;

$grey-base-0-hard: #131920;
$grey-base-0: #171f28;
$grey-base-1: #1f2b36;
$grey-base-2: #283744;
$grey-base-3: #304452;
$grey-base-4: #415c6e;
$grey-base-5: #9bb0b5;
$grey-base-6: #b1c3c4;
$grey-base-7: #c7d5d2;
$grey-base-7-hard: #ecedea;

// Grey
$grey-050: #ecedea;
$grey-100: #dae1de;

$grey-150: #c7d5d2;
$grey-200: #b1c3c4;
$grey-250: #9bb0b5;
$grey-300: #8ca2a9;
$grey-350: #7d949d;
$grey-400: #6e8692;
$grey-450: #5f7886;
$grey-500: #506a7a;
$grey-550: #415c6e;
$grey-600: #304452;
$grey-650: #283744;
$grey-700: #1f2b36;
$grey-750: #171f28;
$grey-800: #131920;

$grey-850: #131920;
$grey-900: #131920;
$grey-950: #131920;

// White
$white: #ecedea;

// Black
$black: #131920;

// Button
$button-close: $red-dark;
$button-max: $green-dark;
$button-min: $yellow-dark;

// Link
$links: $teal-dark;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
