window {
  background: transparent;
}

box.main {
  padding: 5px;
  margin: 0px;
  border-radius: 10px;
  border: 3px solid @theme_selected_bg_color;
  background-color: @theme_bg_color;
}

text {
  min-height: 24px;
  padding: 5px;
  border-radius: 5px;
  background-color: @card_shade_color;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match.description {
  font-size: 10px;
}

label.plugin.info {
  font-size: 14px;
}

.match {
  padding-left: 2px;
  background: transparent;
}

.match:selected {
  border-left: 4px solid @theme_selected_bg_color;
  background: transparent;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
