window {     
	background-color: rgba (0, 0, 0, 0);	
}


/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #292929;
	box-shadow: 0px 5px 5px 0px rgba (0, 0, 0, 0.12);
	border-radius: 20px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 300px 0px 0px 0px;
}

button, image {
	background: none;
	border: none;
	box-shadow: none;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	transition: all 0.1s;
	color: #A89984;
;
}

button:hover {
	color: #FABD2F;
	background-color: #3C3836;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.16),
				inset 0px 0px 0px 1px #FABD2F;

}
