window {     
	background-color: rgba (0, 0, 0, 0);	
}

/* Outer bar container, takes all the window width/height */
#outer-box {

}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: #1f2430;
	box-shadow: 0px 5px 5px 0px rgba (0, 0, 0, 0.12),
				inset 4px 4px 0px 0px #242936;
	border-radius: 20px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 10px;
	margin: 700px 0px 0px 0px;
}

button, image {
	background: none;
	border: none;
	box-shadow: none;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	padding: 15px;
	border-radius: 20px;
	transition: all 0.1s;
	color: #707A8C;
}

button:hover {
	color: #cccccc;
	background-color: #343946;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.16),
				inset 0px 0px 0px 1px #707A8C;

}
