/**
 * @name yellow accents + font
 * @author peppidesu
 * @description adds custom accent colors and font
**/
* {
    font-family: "Maple Mono NF" !important;
    --accent-1: #FABD2F !important; /* links */
	--accent-2: #FB4934 !important; /* general unread/mention elements */
	--accent-3: #FABD2F !important; /* accent buttons */
	--accent-4: #FABD2F !important; /* accent buttons when hovered */
	--accent-5: #FABD2F !important;
    --mention: #FABD2F10 !important;
	--mention-hover: #FABD2F08 !important;
}